@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.box
	height: $box_h
	width: $box_h
	overflow: hidden
	border-radius: 35px
	position: absolute
	left: 50%
	top: 50%
	margin-top: -$box_h/2
	margin-left: -$box_h/2

	&::after
		position: relative
		content: ''
		display: block
		top: 0
		left: 0
		width: 100%
		height: $view_h
		background: linear-gradient($origin, $color1 0%, $color2 25%, $color3 50%, $color2 75%, $color1 100%)
		animation: animatebg $duration*2 infinite linear
@keyframes animatebg
	0%
		top: 0
	50%
		top: $box_h - $view_h
	100%
		top: 0

.logo
	> div
		position: absolute
		top: 50%
		left: 50%
		border: #fff 9px solid
		z-index: 2
		&.logo-dot
			border: 7px #fff solid
			border-radius: 10em
			right: 23%
			top: 23%
			left: auto
	&-border
		width: 74%
		height: 74%
		border-radius: 10em
		margin:
			top: -37%
			left: -37%
	&-circle
		width: 48%
		height: 48%
		border-radius: 10em
		margin:
			top: -24%
			left: -24%

@keyframes animatebox
	0%
		transform: scale(0)
		border-radius: 35px
	2.5%
		transform: scale(1.1)
		border-radius: 10em
	5%
		transform: scale(1)
		border-radius: 35px
	96%
		transform: scale(1)
		border-radius: 35px
	98%
		transform: scale(1.1)
		border-radius: 10em
	100%
		transform: scale(0)
.box
	animation: animatebox $duration*2 infinite alternate

@keyframes animateborder
	0%
		border-radius: 10em
		transform: scale(0)
		opacity: 0
	2%
		opacity: 0
	18%
		border-radius: 35px
		transform: scale(1)
		opacity: 1
	90%
		border-radius: 35px
		transform: scale(1)
.logo-border
	animation: animateborder $duration infinite alternate

@keyframes animatecircle
	0%
		transform: scale(0)
		opacity: 0
	5%
		transform: scale(0)
		opacity: 0
	10%
		transform: scale(1.3)
		opacity: 1
	15%
		transform: scale(1)
	95%
		transform: scale(1)
		background-color: transparent
	97%
		transform: scale(1.2)
		background-color: white
	100%
		transform: scale(1)
.logo-circle
	animation: animatecircle $duration infinite alternate

@keyframes animatedot
	0%
		opacity: 0
	20%
		opacity: 0
	25%
		opacity: 1
	75%
		opacity: 1
	100%
		opacity: 0

.logo-dot
	animation: animatedot $duration infinite alternate
@import "media" // Всегда в конце
