
.cloud {
    animation-name: landscape;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    
    -webkit-animation-name: landscape;
    -webkit-animation-duration: 120s;
    -webkit-animation-iteration-count: infinite;
}

.horizont {
    animation-name: landscape;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    -webkit-animation-name: landscape;
    -webkit-animation-duration: 35s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.hill {
    animation-name: landscape;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: landscape;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.grass {
    animation: landscape 10s infinite linear;
    -webkit-animation: landscape 10s infinite linear;
}

.grass2 {
    animation: landscape 5s infinite linear;
    -webkit-animation: landscape 5s infinite linear;
}

.whell1, .whell2{
    animation: whell 1s infinite reverse linear;
    -webkit-animation: whell 1s infinite reverse linear;
}
.trailer {
    animation: trailer 0.5s infinite linear alternate;
    -webkit-animation: trailer 0.5s infinite linear alternate;
}
