@keyframes landscape
{
    from{background-position:-1035px 0; }
    to  {background-position: 1035px 0; }
}
@-webkit-keyframes landscape
{
    from{background-position:-1035px 0; }
    to  {background-position: 1035px 0; }
}

@-webkit-keyframes whell{
    from{-webkit-transform: rotate(0deg);}
    to  {-webkit-transform: rotate(360deg);}
}
@keyframes whell{
    from{transform: rotate(0deg);}
    to  {transform: rotate(360deg);}
}

@keyframes trailer{
    from{transform: scaleY(0.95);}
    to  {transform: scaleY(0.95);}
}
@-webkit-keyframes trailer{
    from{-webkit-transform: scaleY(0.95);}
    to  {-webkit-transform: scaleY(1);}
}