@media only screen and (max-width: 500px) {
   .div {
       width: 500px ;
       height: 100px;
   }
   .banner{
	width: 500px ;
    height: 100px;
   }
    .horizont{
    width: 500px ;
    height: 100px; 
    }
    .grass, .grass2{
    width: 500px ;
    height: 100px; 
    }
    .hill{
    width: 500px ;
    height: 100px; 
    }
}

@media only screen and (max-width: 1000px) {
       .div {
       width: 1000px ;
       height: 200px;
   }
   .banner{
	width: 1000px ;
    height: 200px;
   }
    .horizont{
    width: 1000px ;
    height: 200px; 
    }
    .grass, .grass2{
    width: 1000px ;
    height: 200px; 
    }
    .hill{
    width: 1000px ;
    height: 200px; 
    }
}
