
div {
    height: 268px;
    width: 1035px;
    margin: 0 auto;
    padding: 0;
}

.banner {
    background-image: url(../images/sky_03.png);
    background-repeat: no-repeat;
}

.cloud {
    background-image: url(../images/cloud_03.png);
    background-repeat: repeat-x;
}

.horizont {
    background-image: url(../images/horizont_03.png);
    background-repeat: repeat-x;
}
.grass, .grass2 {
    background-image: url(../images/grass_03.png);
    background-repeat: repeat-x;
    position: absolute;
}
.hill {
    background-image: url(../images/hill_03.png);
    background-repeat: repeat-x;
    position: absolute;
}

.auto {
    position: absolute;
    width: 234px;
    height: 137px;
    top: 135px;
    left: 500px;
}

.trailer {
    background-image: url(../images/trailer_03.png);
    background-repeat: no-repeat;
    width: 234px;
    height: 114px;
    
    transform-origin: center bottom;
    -webkit-transform-origin: center bottom;
}

[class*="whell"] {
    background-image: url(../images/wheel_03.png);
    background-repeat: no-repeat;
    width: 63px;
    height: 63px;
    position: absolute;
    top: 75px;
}

.whell1 {
    left:17px;
}

.whell2 {
    left: 146px;
}
